{
  "extends": ["airbnb-base"],
  "env": {
    "browser": true
  },
  "rules": {
    "no-underscore-dangle": 0,
    "class-methods-use-this": 0,
    "no-use-before-define": ["error", {
      "functions": false
    }],
    "max-len": [2, 120],
    "no-plusplus": [2, {
      "allowForLoopAfterthoughts": true
    }],
    "no-param-reassign": ["error", { "props": false }],
    "no-mixed-operators": ["error", {
      "groups": [
        ["+", "-", "*", "/", "%", "**"],
        ["&", "|", "^", "~", "<<", ">>", ">>>"],
        ["==", "!=", "===", "!==", ">", ">=", "<", "<="],
        ["&&", "||"],
        ["in", "instanceof"]
      ],
      "allowSamePrecedence": true
    }],
    "no-constant-condition": 0,
    "import/no-extraneous-dependencies": 0
  }
}
