$prefix: '';

// -----------------------------------------
// Layout Breakpoints
// -----------------------------------------

$grid-gutter: 10;
$breakpoints: (
  'medium': (min-width: 800px),
  'large': (min-width: 1000px),
  'huge': (min-width: 1200px),
);


// -----------------------------------------
// Font Sizes
// -----------------------------------------

$base-text-size: 16px;


// -----------------------------------------
// Font Families
// -----------------------------------------

$base-font: Helvetica, Arial, sans-serif;

// -----------------------------------------
// Color
// -----------------------------------------

$base-text-color: #262626;
