// -----------------------------------------
  // Layout Breakpoints
// -----------------------------------------
$gridGutter: 10;
$breakpoints: (
  'medium': (min-width: 800px),
  'large': (min-width: 1000px),
  'huge': (min-width: 1200px),
);


// -----------------------------------------
  // Font Sizes
// -----------------------------------------
$baseSize: 16px;


// -----------------------------------------
  // Font Families
// -----------------------------------------
$baseFont: Helvetica, Arial, sans-serif;