// Осветление цвета

// ------------------------------------------
// example:
// ------------------------------------------
//  .foo{
//    background: tint(#ccc, 10%);
//  }

// @access public
// @param {Color} $color - цвет для осветления
// @param {Number} $percentage - процент от `$color` в возвращаемом цвете
// @return {Color}

@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}