html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: $base-text-color;
  font: $base-text-size $base-font;
  background: #fff;
  line-height: 1;
}

html,
body {
  min-height: 100%;
}

a {
  background: transparent; // IE10
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
  display: block;
}

p,
ul,
ol,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
fieldset {
  margin: 0;
}

ul,
ol,
fieldset {
  padding: 0;
}


fieldset,
img {
  border: 0;
}

li {
  list-style: none;
}

// ------------------------------------------
// Typography
//-------------------------------------------

h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
}

textarea,
select {
  color: inherit;
  font: inherit;
}

button,
input[type='button'],
input[type='reset'],
input[type='submit'],
input[type='radio'] {
  color: inherit;
  cursor: pointer;
  font: inherit;
  padding: 0;
}


// ------------------------------------------
// Tables
//-------------------------------------------

table {
  border-collapse: collapse;
  border-spacing: 0;
}


// ------------------------------------------
// Other
//-------------------------------------------

q {
  quotes: '«' '»';
}
